.navbar-brand img{
    width: 60%;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
    font-weight: 600;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color: #dc3545;
}
.blue-color{
    color: #3776aa;
}
.yellow-color{
    color: #ffd041;
}
.btn-my-style{
    padding: 10px 20px;
    border-radius: 0;
}
.hr-line{
    background: #fff;
    width: 60px;
    height: 2px;
    margin-left: 0;
}
footer.footer {
    padding-bottom: 2rem !important;
    padding-top: 0 !important;
}
.service-icon img{
    width: 100%;
}
.team .social-link {
    display: block;
    height: 3rem;
    width: 3rem;
    line-height: 3.3rem;
    font-size: 1rem;
    background-color: #dc3545;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
  
.team .social-link:hover {
    background-color: #b32e3b;
    text-decoration: none;
  }
.team .service-icon{
    width: 11rem;
    height: 11rem;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #adadad;
}
.navbar-dark .navbar-nav .nav-link:focus{
    color: #dc3545;
}
#calendar {
    max-width: 600px;
    margin: 50px auto;
}
tr:first-child > td > .fc-day-grid-event{
    margin-top: -50px;
}
.fc-row .fc-widget-header{
    border-right-width: 0px;
    margin-right: 0px;
}
.fc-dayGrid-view .fc-body .fc-row {
    min-height: 2.5em;
}
.fc table{
    font-size: 18px;
}
.fc-dayGrid-view .fc-week-number, .fc-dayGrid-view .fc-day-number{
    padding: 7px;
}