<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/png" href="{{ SITEURL~'/'~THEME_STATIC_DIR~'/img/favicon.png' }}"/>

    <title>Python Amsterdam</title>

    {% if CDN %}
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
    {% else %}
        {% set css_files = [
    '/vendor/bootstrap/4.3.1/css/bootstrap.min.css',
    '/vendor/fontawesome-free/5.10.2/css/all.min.css',
    '/css/stylish-portfolio/5.0.7/stylish-portfolio.min.css',
    ] %}

        {% for file in css_files %}
            <link href="{{ (SITEURL~'/'~THEME_STATIC_DIR~file)|cachebust(THEME~'/static'~file) }}" rel="stylesheet"
                  type="text/css">
        {% endfor %}
    {% endif %}

    {% block css %}{% endblock css %}
    {% with file='/css/style.css' %}
        <link href="{{ (SITEURL~'/'~THEME_STATIC_DIR~file)|cachebust(THEME~'/static'~file) }}" rel="stylesheet"
              type="text/css">
    {% endwith %}


    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-opacity fixed-top">
    <div class="container">
        <a class="navbar-brand scroll" href="#home">
            <img alt="py.amsterdam-white.svg" src="{{ SITEURL~'/'~THEME_STATIC_DIR~'/img/py.amsterdam-white.svg' }}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-uppercase">
                {% block nav_items %} {% endblock nav_items %}
            </ul>
        </div>
    </div>
</nav>

{#{% set next_section='something' %}#}
{% if next_section %}
    {% with next_section = next_section %}
        {% include 'includes/site_header.html' %}
    {% endwith %}
{% else %}
    {% with next_section = '#who-we-are' %}
        {% include 'includes/site_header.html' %}
    {% endwith %}
{% endif %}



{% block content %} {% endblock content %}

{% include 'includes/site_footer.html' %}

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded scroll" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% if CDN %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% else %}
    {% set js_files = [
    '/vendor/jquery/3.4.1/jquery.min.js',
    '/vendor/bootstrap/4.3.1/js/bootstrap.bundle.min.js',
    ] %}

    {% for file in js_files %}
        <script src="{{ (SITEURL~'/'~THEME_STATIC_DIR~file)|cachebust(THEME~'/static'~file) }}"></script>
    {% endfor %}

{% endif %}



{#JS for calendar and bootstrap#}
{% block scripts %}{% endblock %}


<!-- jQuery scroll animate-->
<script>
    jQuery(document).ready(function ($) {

        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top - 86}, 800);
        });
    });
</script>

<!-- Plugin JavaScript -->
{% with file='/vendor/jquery-easing/1.4.1/jquery.easing.min.js' %}
    <script src="{{ (SITEURL~'/'~THEME_STATIC_DIR~file)|cachebust(THEME~'/static'~file) }}"></script>
{% endwith %}
</body>

</html>
