{% extends 'base.html' %}
{% block meta %}
    {% include 'includes/site_og.html' %}
{% endblock meta %}
{% block css %}
    {% set css_files = [
    '/vendor/fullcalendar/daygrid/4.3.0/main.min.css',
    '/vendor/fullcalendar/core/4.3.1/main.min.css',
    ] %}

    {% for file in css_files %}
        <link href="{{ (SITEURL~'/'~THEME_STATIC_DIR~file)|cachebust(THEME~'/static'~file) }}" rel="stylesheet"
              type="text/css">
    {% endfor %}
{% endblock css %}

{% block nav_items %}
    <li class="nav-item"><a class="nav-link scroll" href="#home">Home <span class="sr-only">(current)</span></a></li>
    <li class="nav-item"><a class="nav-link scroll" href="#who-we-are">About Us</a></li>
    <li class="nav-item"><a class="nav-link scroll" href="#services">Volunteer</a></li>
    <li class="nav-item"><a class="nav-link scroll" href="#a-calendar">Calendar</a></li>
    <li class="nav-item"><a class="nav-link scroll" href="#team">Team</a></li>
    <li class="nav-item"><a class="nav-link scroll" href="#sponsors">Contributors</a></li>
    <li class="nav-item"><a class="nav-link scroll" href="#contact">Contact</a></li>
{% endblock nav_items %}

{% block content %}

    {% include 'includes/section_who_we_are.html' %}

    {% include 'includes/section_what_we_do.html' %}

    {% include 'includes/section_calendar.html' %}

    {% include 'includes/section_team.html' %}

    {% include 'includes/section_sponsors.html' %}

{% endblock content %}

{% block scripts %}
    {% set js_files = [
    '/vendor/fullcalendar/core/4.3.1/main.min.js',
    '/vendor/fullcalendar/daygrid/4.3.0/main.min.js',
    '/vendor/fullcalendar/core/locales/en-gb.js',
    '/js/calendar.js',
    ] %}

    {% for file in js_files %}
        <script src="{{ (SITEURL~'/'~THEME_STATIC_DIR~file)|cachebust(THEME~'/static'~file) }}"></script>
    {% endfor %}
{% endblock scripts %}