<!-- Team -->
<section class="content-section bg-white text-dark text-center" id="team">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-danger mb-0">Python Amsterdam</h3>
            <h2 class="mb-5">Team</h2>
        </div>
        <div class="row team">
            {% for member in ['1', '2', '3', '4'] %}
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <img src="{{ SITEURL~'/'~THEME_STATIC_DIR~'/img/avatar.png' }}" class="rounded-circle"/>
                </span>
                    <h5>{{ member }}</h5>
                    <p class="text-faded mb-3 text-dark">Position</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="social-link rounded-circle text-white mr-3"
                               href="https://www.linkedin.com/company/pyamsterdam/">
                                <i class="icon-social-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-link rounded-circle text-white mr-3"
                               href="https://www.linkedin.com/company/pyamsterdam/">
                                <i class="icon-social-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</section>