{% macro team_member(
        name=None,
        avatar_path=None,
        socials={}
    )
-%}
    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
    <span class="service-icon rounded-circle mx-auto mb-3">
        {% if avatar_path %}
            <img src="{{ SITEURL~'/'~THEME_STATIC_DIR~'/'~avatar_path }}" class="rounded-circle"/>
        {% else %}
            <img src="{{ SITEURL~'/'~THEME_STATIC_DIR~'/img/avatar.png' }}" class="rounded-circle"/>
        {% endif %}
    </span>
    <h5>{{ name }}</h5>
    <p class="text-faded mb-3 text-dark">{{SITEURL}}</p>
    <ul class="list-inline">
        {% for fa_social, url in socials.items() %}
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white"
                   href="#">
                    <i class="fab {{ fa_social }} custom-fa"></i>
                </a>
            </li>
        {% endfor %}
    </ul>
    </div>
{%- endmacro %}