{% extends 'base.html' %}
{% set next_section = '#event' %}
{% block nav_items %}
        <li class="nav-item">
            <a class="nav-link" href="{{ SITEURL }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#event">(ARTICLE.EVENT_TYPE) details<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ SITEURL }}/#a-calendar">Calendar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link scroll" href="#contact">Contact</a>
        </li>
{% endblock nav_items %}

{% block content %}

    <section class="content-section" id="event">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto content-section-heading">
                    <h3 class="text-danger mb-0">Event details</h3>
                    <h2>{{ article.title }}</h2>
                    <p class="lead mb-5">{{ article.content }}</p>
                    <a class="btn btn-dark btn-xl scroll" href="#">RSVP</a>
                </div>
            </div>
        </div>
    </section>

{#    {% include 'includes/calendar.html' %}#}

    <div>



    </div>
{% endblock content %}
