<!-- Sponsors -->
<section class="content-section" id="sponsors">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-danger mb-0">Our</h3>
            <h2 class="mb-5">Community Contributors</h2>
        </div>
        <div class="row pt-5">
            <div class="col-12 col-md-6">
                <ul>
                    <li>Sponsor - Some information. <a href="#">Some link</a></li>
                    <li>Sponsor - Some information. <a href="#">Some link</a></li>
                    <li>Sponsor - Some information. <a href="#">Some link</a></li>
                    <li>Sponsor - Some information. <a href="#">Some link</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <ul>
                    <li>Sponsor - Some information. <a href="#">Some link</a></li>
                    <li>Sponsor - Some information. <a href="#">Some link</a></li>
                    <li>Sponsor - Some information. <a href="#">Some link</a></li>
                    <li>Sponsor - Some information. <a href="#">Some link</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>