{% from 'macros/team.j2' import team_member with context %}

<!-- Team -->
<section class="content-section bg-white text-dark text-center" id="team">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-danger mb-0">PyAmsterdam</h3>
            <h2 class="mb-5">Team</h2>
        </div>
        <div class="row team">
            {{ team_member(
            name='Jan Gazda',
            avatar_path='/img/flag.png',
            socials={
                'fa-github':'https://github.com/1oglop1/',
                'fa-linkedin-in':'https://www.linkedin.com/in/jangazda/'}
            ) }}
            {{ team_member(name='Nico', socials={'fa-github':'gh', 'fa-linkedin-in':'li'}) }}
            {{ team_member(name='Wojtek', socials={'fa-github':'gh'}) }}
            {{ team_member(name='You', socials={'fa-github':'gh','fa-gitlab':'gh', 'fa-linkedin-in':'li'}) }}
        </div>
    </div>
</section>