<!-- Services -->
<section class="content-section bg-danger text-white text-center" id="services">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-dark mb-0">Services</h3>
            <h2 class="mb-5">What We Do</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fas fa-users"></i>
          </span>
                <h4>
                    <strong>Meetup</strong>
                </h4>
                <p class="text-faded mb-0">Is an ~3 hour event usually hold during the working week
                    where we gather, listen to interesting talks, have some drinks and meet others.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fas fa-laptop-code"></i>
          </span>
                <h4>
                    <strong>Workshop</strong>
                </h4>
                <p class="text-faded mb-0">Is focused on hands-on experience and practice.
                    Can take 3 and more hours, dependent on the content.
                    Attendees should bring their own laptop/device unless otherwise specified.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fas fa-hands-helping"></i>
{#              <i class="far fa-hand-paper"></i>#}
          </span>
                <h4>
{#                    TODO need to decide on word#}
                    <strong>Participation/Volunteer/Join</strong>
                </h4>
                <p class="text-faded mb-0">Want talk or give a workshop?
                    Contact us!
                    You do not have to be professional as we provide
                    a safe space to practice your rhetorical or teaching skills in exchange for your knowledge.
                    We are always on a look out for speakers and workshopers.
                    </p>
            </div>
        </div>
    </div>
</section>