{% from 'macros/team.j2' import team_member with context %}

<!-- Team -->
<section class="content-section bg-light text-dark text-center" id="team">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-danger mb-0">PyAmsterdam</h3>
            <h2 class="mb-5">Team</h2>
        </div>
        <div class="row team">
            {{ team_member(
                name='Jan Gazda',
                avatar_path='https://avatars1.githubusercontent.com/u/7480694?s=460&v=4',
                position = 'Co-founder',
                socials={
                    'fa-github':'https://github.com/1oglop1/',
                    'fa-linkedin-in':'https://www.linkedin.com/in/jangazda/'}
                )
            }}
            {{ team_member(
                name='Nicolás Demarchi',
                position='Co-organiser',
                avatar_path='https://ac.python.org.ar/images/cd/00003.jpg',
                socials={'fa-github':'https://github.com/vojtekb', 'fa-linkedin-in':'https://www.linkedin.com/in/nicolasdemarchi/'}
                )
            }}
            {{ team_member(
                name='Eduardo Enriquez',
                position='Co-organiser',
                avatar_path='https://eduzen.ar/static/about/bio_pic.00088080b203.jpg',
                socials={'fa-github':'https://github.com/eduzen', 'fa-linkedin-in':'https://www.linkedin.com/in/eduzen/'}
                )
            }}
            {{ team_member(
                name='Martin Alderete',
                position='Co-organiser',
                avatar_path='https://s.gravatar.com/avatar/93eb065dded558598bd4562c122e9048?s=176',
                socials={'fa-github':'https://github.com/malderete', 'fa-linkedin-in':'https://www.linkedin.com/in/alderetemartin/'}
                )
            }}
            {{ team_member(
                name='Santiago Fraire Willemoes',
                position='Co-organiser',
                avatar_path='https://s.gravatar.com/avatar/7ff595c207c9b935811a691d2f3d2551?s=176',
                socials={'fa-github':'https://github.com/Woile', 'fa-linkedin-in':'https://www.linkedin.com/in/santiago-fraire-willemoes/?locale=en_US'}
                )
            }}
{#            {{ team_member(name='You', socials={'fa-github':'gh','fa-gitlab':'gh', 'fa-linkedin-in':'li'}) }}#}
        </div>
    </div>
</section>
