<!-- Who we are -->
<section class="content-section bg-light" id="who-we-are">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto content-section-heading">
                <h3 class="text-danger mb-0">About us</h3>
                <h2>Who Are We?</h2>
                <p class="lead mb-5">We are an inclusive group of <a href="https://en.wiktionary.org/wiki/Pythonista">Pythonistas</a>
                    with focus on community events.
                    Most of our events are hosted by the community members (you) free of charge with a support of
                    companies who provide us with basic facilities (spaces, drinks & food).
                </p>
                <a class="btn btn-dark btn-xl scroll" href="#services">What We Offer</a>
            </div>
        </div>
    </div>
</section>