<!-- Calendar -->
<section class="content-section bg-light" id="a-calendar">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto content-section-heading">
                <h3 class="text-danger mb-0">Meetups & Workshops</h3>
                <h2>Event Calendar</h2>
                <div id='calendar'></div>
                {#                <a class="btn btn-dark btn-xl" href="https://www.meetup.com/PyAmsterdam/">Meetup.com</a>#}
                <a href="{{ SITEURL }}/events.html">All Events</a>
            </div>
        </div>
    </div>
</section>