<footer class="footer bg-opacity" id="contact">
    <div class="footer-widgets bg-light text-dark pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <p><img alt="py.amsterdam.svg" src="{{ SITEURL~'/'~THEME_STATIC_DIR~'/img/py.amsterdam.svg' }}"
                            class="footer-logo"></p>
                    <p><a href="mailto:info@py.amsterdam">
                        <i class="fas fa-envelope align-middle footer-icon"></i>
                        info@py.amsterdam
                    </a></p>
                    <p><a href="https://twitter.com/PyAmsterdam">
                        <i class="fab fa-twitter align-middle footer-icon"></i>
                        @pyamsterdam
                    </a></p>
                    <p><a href="https://meetup.com/pyamsterdam">
                        <i class="fab fa-meetup align-middle footer-icon"></i>
                        meetup.com/pyamsterdam
                    </a></p>
                    <p><a href="https://github.com/PyAmsterdam">
                        <i class="fab fa-github align-middle footer-icon"></i>
                        github.com/PyAmsterdam
                    </a></p>
                    <p>
                        <a href="https://bit.ly/join-pyamsterdam-slack">
                            <i class="fab fa-slack align-middle footer-icon"></i>
                            pyamsterdam.slack.com
                        </a></p>
                    <p>
                        <a href="https://www.youtube.com/channel/UC2eNRBhT_UX2xB1PSi8gGjw">
                            <i class="fab fa-youtube align-middle footer-icon"></i>
                            Py.Amsterdam
                        </a></p>
                </div>
                <div class="col-12 col-md-4">
                    <h3 class="mb-4">More information</h3>
                    <p>
                        The open-source community works hard to drive Python and its ecosystem free of charge.
                    </p>
                    <p>
                        Use the opportunity to work with us and contribute back by giving a talk,
                        workshop or provide your company space where we can get together.
                    </p>
                    <p>
                        Connect with us to make this community stronger!
                    </p>
                    <p><a href="{{ TALK_FORM_URL }}">Talk submission form</a>.</p>
                    <p><a href="{{ HOST_FORM_URL }}">Event host submission form</a>.</p>
                    <p><a href="{{ SITEURL~'/'~'pages/coc.html#coc' }}">Code of Conduct</a></p>
                </div>
                <div class="col-12 col-md-4">
                    <h3 class="mb-4">Join us at Slack</h3>
                    <a href="http://bit.ly/join-pyamsterdam-slack">
                        <img alt="qr-code-slack.svg" src="{{ SITEURL~'/'~THEME_STATIC_DIR~'/img/qr-code-slack.svg' }}"
                             class="qr-code-slack">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="text-white small mb-0 mt-5">
            <p class="mb-0">
                Powered by <a href="https://python.org">Python</a> & <a href="https://blog.getpelican.com">Pelican</a>.
                Theme created by <a href="http://marijakolenkas.com">Marija Kolenkaš</a>.
            </p>
            <p class="mb-0">&copy; 2019 PyAmsterdam</p>
        </div>
    </div>
</footer>
