<!-- Header -->
<header class="masthead d-flex" id="home">
    <div class="container text-center my-auto">
        <h1 class="mb-1"><span class="blue-color">p</span><span class="yellow-color">y</span><span
                class="text-black">.</span><span class="red-color">am</span><span class="black-color">sterdam</span>
        </h1>
        <h3 class="mb-5">
{#            TODO this needs refactoring #}
            <p>A self driven community of <a href="https://www.python.org">Python</a> enthusiasts
                spreading good vibes.
            </p>
            <p></p>
        </h3>
        <a class="btn btn-danger btn-my-style scroll" href="{{ next_section }}"><i class="fas fa-angle-down"></i></a>
    </div>
</header>