# Deploys a website in production at https://py.amsterdam
name: website-production
on:
  push:
    branches:
      - master
jobs:
  prod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.8' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
      - name: "pelican"
        run: |
          pip3 install -U pip
          pip3 install setuptools
          pip3 install wheel
          pip3 install -r requirements.txt
          make prod
      - uses: amondnet/vercel-action@v25
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }} #Optional
          vercel-args: "--prod"
          vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
          zeit-token: ${{ secrets.VERCEL_TOKEN }} # Backward-compat for older inputs
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}  #Required
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}} #Required
          working-directory: ./output
